.container {
    display: grid;
    grid-auto-rows: auto;
}

.header {
    display: grid;
    grid-template-columns: 100px 1fr;
    border: black solid 5px;
    height: 40px;
}

.name {
    font-size: 40px;
}

.nav {
    text-align: end;
}

.nav li {
    display: inline;
}

.nav a {
    padding: 20px;
}

.index {
    text-align: center;
}

.about {
    text-align: center;
}

.port {
    text-align: center;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    height: 100px;
    gap: 10px;
}

.box .item {
    border: solid 2px black;
    background-color:whitesmoke;
}